################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/PUNTO_DE_VENTA_RESTAURANTE/FileContentIndex
